.button {
    display: inline-block;
    padding: 5px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    display: inline-block;
    padding: 5px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #013260;
}

button:hover {
    background-color: #013260;
}