html {
    zoom: 1.25;
}

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black; 
}

h1,h2,h3 {
    font-family: "Palatino Linotype",
        "Book Antiqua",
        Palatino,
        serif;
}

header, nav, main, section, footer {
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    background-color: rgba(81,111,167,1); 
    color: white; 
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: rgba(81,111,167,1); 
    color: white; 
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

giscus-widget {
    display: block;
    max-width: 900px;
    margin: 2em auto;
    padding: 0 1em;
}


.giscus-comment {
    font-family: inherit;
    line-height: 1.8rem;
}

.giscus-button {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

giscus-widget .MathJax_Display {
    margin: 0.8em 0;
}

giscus-widget pre {
    font-family: 'JetBrainsMono'"Palatino Linotype",
        "Book Antiqua",
        Palatino,
        serif !important;
    background-color: var(--block-bg-color) !important;
    border-radius: 10px !important;
    padding: 1.2rem .8rem !important;
}